body {
  overflow-x: hidden;
}

.container {
  max-width: 1112px;
  width: 100%;
  margin: 0 auto;
  margin-top: 48px;
}

.btn__repeat {
  outline: none;
  background-color: #101828;
  border-radius: 47px;
  color: white;
  padding: 12px 20px 13px 20px;
  transition: background-color 0.2s ease-in-out;
}

.btn__repeat:hover {
  background-color: #1f2e4c;
}

.hero__title {
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  color: #101828;
}

.hero__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.045em;
  color: #475467;
}

.brand-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 26px;
  color: #576071;
}

.card__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #323A4B;
}

.card__price {
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #006D77;
}

.card__add {
  outline: none;
  border: none;
  background-color: #BEE1E6;
  border-radius: 6px;
  padding: 0 15px;
  font-weight: 500;
  font-size: 12px;
  line-height: 26px;
  color: #006D77;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.card__add:hover {
  background-color: #acd9df;
  color: #008491;
}

.header {
  margin-bottom: 134px;
}

.header-logo__box {
  display: inline-flex;
  align-items: center;
}

.logo-img {
  margin-right: 7px;
}

.nav__box {
  display: flex;
  justify-content: space-between;
}

.nav-menu__container {
  display: flex;
  align-items: center;
  gap: 68px;
}

.nav-menu__link {
  color: #101828;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.045em;
  transition: color 0.2s ease-in-out;
}

.nav-menu__link:hover {
  color: #006D77;
}

.smart-watch__inner {
  position: relative;
  margin-bottom: 122px;
}

.smart-watch-img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.smart-watch__features {
  max-width: 572px;
  width: 100%;
}

.smart-watch__headline {
  font-weight: 600;
  font-size: 25px;
  line-height: 26px;
  color: #98A2B3;
}

.smart-watch__box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.features-btn {
  outline: none;
  border: none;
  background: #101828;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  padding: 12px 21px;
  gap: 9px;
}

.features-btn svg {
  transition: transform 0.2s ease-in-out;
}

.features-btn__box {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 56px;
}

.features-btn--white {
  color: #101828;
  background: transparent;
}

.features-btn:hover svg {
  transform: translate3d(10px, 0, 0);
}

.features-info__box {
  display: flex;
  align-items: center;
  gap: 54px;
}

.features-info__inner {
  gap: 9px;
  display: flex;
  align-items: center;
}

.features__descr {
  margin-bottom: 42px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.info-img {
  background-color: #BEE1E6;
  border-radius: 100%;
  padding: 20px;
  width: 70px;
  height: 70px;
}

.info-title {
  font-weight: 600;
  font-size: 30px;
  line-height: 26px;
  color: #101828;
}

.info-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #667085;
}

.popular-items__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 103px;
}

.popular-items__item {
  cursor: pointer;
  padding: 25px 18px;
  border: 1px solid #E4E7EC;
  box-shadow: 0px 0px 1px 1px rgba(228, 231, 236, 0.15);
  border-radius: 6px;
  max-width: 350px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: box-shadow 0.2s ease-in-out;
}

.popular-items__item:hover {
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.popular-items__text {
  display: flex;
  gap: 7px;
  flex-direction: column;
}

.popular-items__price {
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  color: #101828;
}

.pre-order__main .hero__title {
  text-align: center;
  vertical-align: center;
  max-width: 477px;
  margin: 0 auto;
  margin-bottom: 57px;
}

.pre-order__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.list-item__box {
  max-width: 255px;
  padding: 32px 11px 24px 15px;
  border: 1px solid #E4E7EC;
  box-shadow: 0px 0px 1px 1px rgba(228, 231, 236, 0.15);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: box-shadow 0.2s ease-in-out;
}

.list-item__box:hover {
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.list-item__box img {
  margin: 0 auto;
  margin-bottom: 24px;
}

.list-item__box .card__title {
  margin-bottom: 9px;
}

.list-item__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-item__content {
  cursor: pointer;
}
