body {
  overflow-x: hidden;
}

.container {
  max-width: 1112px;
  width: 100%;
  margin: 0 auto;
  margin-top: 48px;
}

.btn__repeat {
  outline: none;
  background-color: #101828;
  border-radius: 47px;
  color: white;
  padding: 12px 20px 13px 20px;
  transition: background-color 0.2s ease-in-out;
}

.btn__repeat:hover {
  background-color: #1f2e4c;
}

.hero__title {
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  color: #101828;
}

.hero__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.045em;
  color: #475467;
}

.brand-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 26px;
  color: #576071;
}

.card__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #323A4B;
}

.card__price {
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #006D77;
}

.card__add {
  outline: none;
  border: none;
  background-color: #BEE1E6;
  border-radius: 6px;
  padding: 0 15px;
  font-weight: 500;
  font-size: 12px;
  line-height: 26px;
  color: #006D77;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.card__add:hover {
  background-color: #acd9df;
  color: #008491;
}

.header {
  margin-bottom: 134px;
}

.header-logo__box {
  display: inline-flex;
  align-items: center;
}

.logo-img {
  margin-right: 7px;
}

.nav__box {
  display: flex;
  justify-content: space-between;
}

.nav-menu__container {
  display: flex;
  align-items: center;
  gap: 68px;
}

.nav-menu__link {
  color: #101828;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.045em;
  transition: color 0.2s ease-in-out;
}

.nav-menu__link:hover {
  color: #006D77;
}

.smart-watch__inner {
  position: relative;
  margin-bottom: 122px;
}

.smart-watch-img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.smart-watch__features {
  max-width: 572px;
  width: 100%;
}

.smart-watch__headline {
  font-weight: 600;
  font-size: 25px;
  line-height: 26px;
  color: #98A2B3;
}

.smart-watch__box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.features-btn {
  outline: none;
  border: none;
  background: #101828;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  padding: 12px 21px;
  gap: 9px;
}

.features-btn svg {
  transition: transform 0.2s ease-in-out;
}

.features-btn__box {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 56px;
}

.features-btn--white {
  color: #101828;
  background: transparent;
}

.features-btn:hover svg {
  transform: translate3d(10px, 0, 0);
}

.features-info__box {
  display: flex;
  align-items: center;
  gap: 54px;
}

.features-info__inner {
  gap: 9px;
  display: flex;
  align-items: center;
}

.features__descr {
  margin-bottom: 42px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.info-img {
  background-color: #BEE1E6;
  border-radius: 100%;
  padding: 20px;
  width: 70px;
  height: 70px;
}

.info-title {
  font-weight: 600;
  font-size: 30px;
  line-height: 26px;
  color: #101828;
}

.info-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #667085;
}

.popular-items__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 103px;
}

.popular-items__item {
  cursor: pointer;
  padding: 25px 18px;
  border: 1px solid #E4E7EC;
  box-shadow: 0px 0px 1px 1px rgba(228, 231, 236, 0.15);
  border-radius: 6px;
  max-width: 350px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: box-shadow 0.2s ease-in-out;
}

.popular-items__item:hover {
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.popular-items__text {
  display: flex;
  gap: 7px;
  flex-direction: column;
}

.popular-items__price {
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  color: #101828;
}

.pre-order__main .hero__title {
  text-align: center;
  vertical-align: center;
  max-width: 477px;
  margin: 0 auto;
  margin-bottom: 57px;
}

.pre-order__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.pre-order__container {
  margin-bottom: 113px;
}

.list-item__box {
  max-width: 255px;
  padding: 32px 11px 24px 15px;
  border: 1px solid #E4E7EC;
  box-shadow: 0px 0px 1px 1px rgba(228, 231, 236, 0.15);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: box-shadow 0.2s ease-in-out;
}

.list-item__box:hover {
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.list-item__box img {
  margin: 0 auto;
  margin-bottom: 24px;
}

.list-item__box .card__title {
  margin-bottom: 9px;
}

.list-item__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-item__content {
  cursor: pointer;
}

.categories-text__box {
  max-width: 553px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 56px;
}

.categories-text__box .hero__title {
  margin-bottom: 25px;
}

.categories__content {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 120px;
}

.categories__popular {
  padding: 39px 32px;
  background: #FFFFFF;
  border: 1px solid #D1DAE8;
  box-shadow: 0px 3px 6px rgba(219, 220, 222, 0.17);
  border-radius: 6px;
  width: 43%;
}

.categories__others {
  display: grid;
  grid-template-columns: repeat(16, 10px);
  grid-template-rows: repeat(9, 10px);
  justify-items: center;
  gap: 30px;
  max-width: 600px;
}

.popular__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 26px;
  color: #323A4B;
  margin-bottom: 16px;
}

.popular-options__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #667085;
  transition: color 0.2s ease-in-out;
}

.popular-options__item {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.popular-options__item:not(:last-child) {
  border-bottom: 1px solid #E4E7EC;
}

.popular-options__item:hover .popular-options__descr {
  color: #404652;
}

.popular-options__item:hover .popular-options__count {
  background: #b8bdc5;
}

.popular-options__count {
  width: 34px;
  height: 34px;
  text-align: center;
  background: #E4E7EC;
  font-weight: 500;
  font-size: 16px;
  line-height: 34px;
  color: #006D77;
  border-radius: 100%;
  transition: background 0.2s ease-in-out;
}

.others-options__box {
  cursor: pointer;
  max-width: 285px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  padding: 25px 17px;
  background: #FFFFFF;
  border: 1px solid #D1DAE8;
  border-radius: 6px;
  transition: box-shadow 0.2s ease-in-out;
  grid-area: 3 span /span 8;
}

.others-options__box:last-child {
  grid-area: 3 span /span 16;
}

.others-options__box:hover {
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.others-options__text {
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
  color: #323A4B;
}

.others-img {
  margin: auto;
}

.others-img__box {
  display: flex;
  justify-content: center;
  padding: 15px;
  border-radius: 100%;
  background: #CEE5D9;
}

.works-question {
  text-align: center;
  padding: 8px 26px;
  background: #FFF3EA;
  border-radius: 48px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #E29578;
  max-width: 165px;
  margin: 0 auto;
  margin-bottom: 42px;
}

.works__container {
  margin-bottom: 120px;
}

.works__container .hero__title {
  max-width: 659px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 62px;
}

.works-overview__box {
  display: flex;
  justify-content: center;
  gap: 128px;
  flex-wrap: wrap;
}

.overview__container {
  min-width: 285px;
  max-width: 163px;
  text-align: center;
  padding: 46px 61px;
  border-radius: 8px;
}

.overview-img__box {
  max-width: 100px;
  padding: 25px;
  background-color: white;
  margin: 0 auto;
  border-radius: 100%;
  margin-bottom: 22px;
}

.overview__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 26px;
  color: #1E2534;
  margin-bottom: 35px;
}

.overview__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #667085;
}

.overview-orange {
  background: #FFF3EA;
  position: relative;
}

.overview-orange .dashed-arrow-img {
  position: absolute;
  right: -110px;
  top: 50%;
}

.overview-pink {
  background: #FDE2E4;
  position: relative;
}

.overview-pink .dashed-arrow-img {
  position: absolute;
  right: -110px;
  top: 50%;
}

.overview-green {
  background: #DBECE5;
  position: relative;
}

.overview-green .dashed-arrow-img {
  position: absolute;
  right: 20%;
  bottom: -59%;
}

.overview-navy {
  background: #D1ECFD;
  position: relative;
}

.overview-navy .dashed-arrow-img {
  position: absolute;
  left: -110px;
  top: 50%;
}

.newsletter__container {
  display: flex;
  align-items: center;
  background: #006D77;
  box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  padding: 0 45px;
  margin-bottom: 185px;
}

.newsletter-img {
  transform: translate3d(0, 75px, 0);
}

.newsletter__inner .hero__title {
  font-size: 40px;
  color: #FFFFFF;
  margin-bottom: 11px;
}

.newsletter__inner .hero__text {
  margin-bottom: 20px;
  color: #FFFFFF;
}

.newsletter-form__box {
  position: relative;
}

.newsletter-form__input {
  outline: none;
  border: none;
  width: 60%;
  padding: 21px 28px;
  background: #FFFFFF;
  box-shadow: 0px 0px 11px 1px rgba(194, 194, 194, 0.06);
  border-radius: 53px;
}

.newsletter-form__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #797979;
}

.newsletter-form__btn {
  background: #006D77;
  box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  padding: 14px 11px;
  border: none;
  outline: none;
  position: absolute;
  right: 10px;
  bottom: -12px;
  transition: background 0.2s ease-in-out;
}

.newsletter-form__btn:hover {
  background: #00565e;
}

.footer {
  margin-bottom: 24px;
}

.footer__inner-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 42px;
  border-bottom: 2px solid #D6D8DD;
  margin-bottom: 46px;
}

.footer-btn {
  display: flex;
  align-items: center;
  gap: 11px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  padding: 12px 23px;
  background: #101828;
  border-radius: 38px;
  transition: background 0.2s ease-in-out;
}

.footer-btn img {
  transition: transform 0.2s ease-in-out;
}

.footer-btn:hover {
  background: #1f2e4c;
}

.footer-btn:hover img {
  transform: translate3d(8px, 0, 0);
}

.footer-btn__box {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer__nav-box {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer__nav-item {
  display: flex;
  flex-direction: column;
  gap: 9px;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #101828;
}

.footer__nav-link, .footer__nav-address, .footer__nav-phone, .footer__nav-email {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #969696;
  transition: color 0.2s ease-in-out;
}

.footer__nav-link:hover, .footer__nav-address:hover, .footer__nav-phone:hover, .footer__nav-email:hover {
  color: #636363;
}

.footer__nav-address {
  max-width: 204px;
}

.footer__nav-phone {
  color: #444E62;
}

.footer__nav-email {
  color: #4BB4FF;
}

.footer__nav-social {
  display: flex;
  align-items: center;
  gap: 19px;
}
